body {
  margin: 0;
  padding: 0;
  background-color: #004E89;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: Calibri;
  font-size: 24px;
}

.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #006cbf
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection{
  background-color: #ff6d6d;
  text-align: center;
  border:1px solid black;
  border-radius: 30px;
  width: 400px;
  margin:10px;
  & h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  & img{
    width: 100%;
  }
}
